{#
 # @author: Takashi MATSUSHITA
 #}

{#
 # get comparison operator
 #}
{% macro getOperator(operator, tmEventSetup) %}
  {%- if operator == tmEventSetup.GE -%} >=
  {%- elif operator == tmEventSetup.EQ -%} ==
  {%- endif -%}
{% endmacro %}


{#
 # set delta phi
 #}
{% macro setDeltaPhi(prefix0, prefix1, idx0, idx1, LUTS, iPi, useDelta=True) %}
  int iPhi = {{prefix0}}IPhi.at({{idx0}});
  {% if (prefix0 != prefix1) and (prefix1 == "data->muon") %}
    iPhi = {{LUTS.CONV_PHI}}[iPhi];
  {% endif %}

  unsigned int deltaIPhi = abs(iPhi - {{prefix1}}IPhi.at({{idx1}}));
  if (deltaIPhi >= {{iPi}}) deltaIPhi = 2*{{iPi}} - deltaIPhi;
  {% if useDelta %}
    unsigned int deltaPhi = {{LUTS.DPHI}}[deltaIPhi];
  {% endif %}
{% endmacro %}


{#
 # set delta eta
 #}
{% macro setDeltaEta(prefix0, prefix1, idx0, idx1, LUTS, useDelta=True) %}
  int iEta = {{prefix0}}IEta.at({{idx0}});
  {% if (prefix0 != prefix1) and (prefix1 == "data->muon") %}
    if (iEta < 0) iEta += {{LUTS.ETA_OFFSET}};
    iEta = {{LUTS.CONV_ETA}}[iEta];
  {% endif %}
  unsigned int deltaIEta = abs(iEta - {{prefix1}}IEta.at({{idx1}}));
  {% if useDelta %}
    unsigned int deltaEta = {{LUTS.DETA}}[deltaIEta];
  {% endif %}
{% endmacro %}


{#
 # get cuts for object
 #}
{% macro getObjectCuts(prefix, idx, object, tmEventSetup, nEtaBits, nPhiBits) %}
  {# local variables #}
  {% set cuts = object.getCuts() %}
  {% set nEtaWindow = [0] %}
  {% set nPhiWindow = [0] %}
  {# loop over cuts #}
  {% for cut in cuts %}
    {# set threshold #}
    {% if cut.getCutType() == tmEventSetup.Threshold %}
      // {{object.getName()}}: ET {{ getOperator(object.getComparisonOperator(), tmEventSetup) }} {{cut.getMinimumIndex()}} at BX = {{object.getBxOffset()}}
      if (not ({{prefix}}IEt.at({{idx}}) {{ getOperator(object.getComparisonOperator(), tmEventSetup) }} {{ cut.getMinimumIndex() }})) continue;

    {# set eta ranges #}
    {% elif cut.getCutType() == tmEventSetup.Eta %}
      // {{ cut.getMinimumValue() }} <= eta <= {{ cut.getMaximumValue()}}
      {% if nEtaWindow[0] == 0 %}
        etaWindow1 = (({{ cut.getMinimumIndex() | toDecimal(nEtaBits) }} <= {{prefix}}IEta.at({{idx}})) and ({{prefix}}IEta.at({{idx}}) <= {{ cut.getMaximumIndex() | toDecimal(nEtaBits) }}));
      {% elif nEtaWindow[0] == 1 %}
        etaWindow2 = (({{cut.getMinimumIndex() | toDecimal(nEtaBits) }} <= {{prefix}}IEta.at({{idx}})) and ({{prefix}}IEta.at({{idx}}) <= {{ cut.getMaximumIndex() | toDecimal(nEtaBits) }}));
      {% endif %}
      {% if nEtaWindow.append(nEtaWindow.pop() + 1) %}{% endif %}

    {# set phi ranges #}
    {% elif cut.getCutType() == tmEventSetup.Phi %}
      // {{ cut.getMinimumValue() }} <= phi <= {{ cut.getMaximumValue()}}
      {% if nPhiWindow[0] == 0 %}
        phiWindow1 = (({{ cut.getMinimumIndex() | toDecimal(nPhiBits) }} <= {{prefix}}IPhi.at({{idx}})) and ({{prefix}}IPhi.at({{idx}}) <= {{ cut.getMaximumIndex() | toDecimal(nPhiBits) }}));
      {% elif nPhiWindow[0] == 1 %}
        phiWindow2 = (({{cut.getMinimumIndex() | toDecimal(nPhiBits) }} <= {{prefix}}IPhi.at({{idx}})) and ({{prefix}}IPhi.at({{idx}}) <= {{ cut.getMaximumIndex() | toDecimal(nPhiBits) }}));
      {% endif %}
      {% if nPhiWindow.append(nPhiWindow.pop() +1) %}{% endif %}

    {# set quality #}
    {% elif cut.getCutType() == tmEventSetup.Quality %}
      // quality : {{"0x%x" % cut.getData() | int }}
      if (not (({{cut.getData() | int}} >> {{prefix}}Qual.at({{idx}})) & 1)) continue;

    {# set isolation #}
    {% elif cut.getCutType() == tmEventSetup.Isolation %}
      // isolation : {{"0x%x" % cut.getData() | int }}
      if (not (({{cut.getData() | int}} >> {{prefix}}Iso.at({{idx}})) & 1)) continue;

    {# set charge #}
    {% elif cut.getCutType() == tmEventSetup.Charge %}
      // charge : {{ cut.getData() }}
      if (not ({{cut.getData() | toCharge}} == {{prefix}}Chg.at({{idx}}))) continue;
    {% endif %}
  {% endfor %}

  {%- if nEtaWindow[0] == 1 -%}
    if (not etaWindow1) continue;
  {%- elif nEtaWindow[0] == 2 -%}
    if (not (etaWindow1 or etaWindow2)) continue;
  {%- endif -%}

  {%- if nPhiWindow[0] == 1 -%}
    if (not phiWindow1) continue;
  {%- elif nPhiWindow[0] == 2 -%}
    if (not (phiWindow1 or phiWindow2)) continue;
  {%- endif -%}
{% endmacro %}


{#
 # get cuts for esum
 #}
{% macro getEsumCuts(prefix, idx, object, tmEventSetup, nPhiBits) %}
  {# local variables #}
  {% set cuts = object.getCuts() %}
  {% set nPhiWindow = [0] %}
  {# loop over cuts #}
  {% for cut in cuts %}
    {% if cut.getCutType() == tmEventSetup.Threshold %}
      // {{object.getName()}}: ET {{ getOperator(object.getComparisonOperator(), tmEventSetup) }} {{cut.getMinimumIndex()}} at BX = {{object.getBxOffset()}}
      if (not ({{prefix}}IEt.at({{idx}}) {{ getOperator(object.getComparisonOperator(), tmEventSetup) }} {{ cut.getMinimumIndex() }})) continue;
    {% elif cut.getCutType() == tmEventSetup.Count %}
      // {{object.getName()}}: Count {{ getOperator(object.getComparisonOperator(), tmEventSetup) }} {{cut.getMinimumIndex()}} at BX = {{object.getBxOffset()}}
      if (not ({{prefix}}IEt.at({{idx}}) {{ getOperator(object.getComparisonOperator(), tmEventSetup) }} {{ cut.getMinimumIndex() }})) continue;
    {# set phi ranges #}
    {% elif cut.getCutType() == tmEventSetup.Phi %}
      // {{ cut.getMinimumValue() }} <= phi <= {{ cut.getMaximumValue()}}
      {% if nPhiWindow[0] == 0 %}
        phiWindow1 = (({{ cut.getMinimumIndex() | toDecimal(nPhiBits) }} <= {{prefix}}IPhi.at({{idx}})) and ({{prefix}}IPhi.at({{idx}}) <= {{ cut.getMaximumIndex() | toDecimal(nPhiBits) }}));
      {% elif nPhiWindow[0] == 1 %}
        phiWindow2 = (({{cut.getMinimumIndex() | toDecimal(nPhiBits) }} <= {{prefix}}IPhi.at({{idx}})) and ({{prefix}}IPhi.at({{idx}}) <= {{ cut.getMaximumIndex() | toDecimal(nPhiBits) }}));
      {% endif %}
      {% if nPhiWindow.append(nPhiWindow.pop() +1) %}{% endif %}
    {% endif %}
  {% endfor %}

  {%- if nPhiWindow[0] == 1 -%}
    if (not phiWindow1) continue;
  {%- elif nPhiWindow[0] == 2 -%}
    if (not (phiWindow1 or phiWindow2)) continue;
  {%- endif -%}
{% endmacro %}


{#
 # get cuts for correlations of objects with the same type
 #}
{% macro getSameTypeCorrelationCuts(prefix, idx0, idx1, cond, tmEventSetup, LUTS, iPi) %}
  {# local variables #}
  long long minimum;
  long long maximum;
  {% for cut in cond.getCuts() %}
  {% if cut.getCutType() == tmEventSetup.DeltaEta %}
    {{ setDeltaEta(prefix, prefix, idx0, idx1, LUTS) }}
    minimum = (long long)({{cut.getMinimum().value}} * POW10[{{cut.getMinimum().index}}]);
    maximum = (long long)({{cut.getMaximum().value}} * POW10[{{cut.getMaximum().index}}]);
    if (not ((minimum <= deltaEta) and (deltaEta <= maximum))) continue;

  {% elif cut.getCutType() == tmEventSetup.DeltaPhi %}
    {{ setDeltaPhi(prefix, prefix, idx0, idx1, LUTS, iPi) }}
    minimum = (long long)({{cut.getMinimum().value}} * POW10[{{cut.getMinimum().index}}]);
    maximum = (long long)({{cut.getMaximum().value}} * POW10[{{cut.getMaximum().index}}]);
    if (not ((minimum <= deltaPhi) and (deltaPhi <= maximum))) continue;

  {% elif cut.getCutType() == tmEventSetup.DeltaR %}
    {{ setDeltaEta(prefix, prefix, idx0, idx1, LUTS) }}
    {{ setDeltaPhi(prefix, prefix, idx0, idx1, LUTS, iPi) }}
    long long deltaR2 = deltaEta*deltaEta + deltaPhi*deltaPhi;
    minimum = (long long)({{cut.getMinimum().value}} * POW10[{{2*cut.getMinimum().index}}]);
    maximum = (long long)({{cut.getMaximum().value}} * POW10[{{2*cut.getMaximum().index}}]);
    if (not ((minimum <= deltaR2) and (deltaR2 <= maximum))) continue;

  {% elif cut.getCutType() == tmEventSetup.Mass %}
    {{ setDeltaEta(prefix, prefix, idx0, idx1, LUTS, False) }}
    {{ setDeltaPhi(prefix, prefix, idx0, idx1, LUTS, iPi, False) }}
    long long coshDeltaEta = {{LUTS.COSH_DETA}}[deltaIEta];
    long long cosDeltaPhi = {{LUTS.COS_DPHI}}[deltaIPhi];
    long long pt0 = {{LUTS.ET0}}[{{prefix}}IEt.at({{idx0}})];
    long long pt1 = {{LUTS.ET1}}[{{prefix}}IEt.at({{idx1}})];
    long long mass2 = pt0*pt1*(coshDeltaEta - cosDeltaPhi);
    // {{ cut.getMinimumValue() | toMass }} <= mass <= {{ cut.getMaximumValue() | toMass}}
    minimum = (long long)({{cut.getMinimum().value}} * POW10[{{LUTS.PREC_MASS}}]);
    maximum = (long long)({{cut.getMaximum().value}} * POW10[{{LUTS.PREC_MASS}}]);
    if (not ((minimum <= mass2) and (mass2 <= maximum))) continue;

  {% elif cut.getCutType() == tmEventSetup.ChargeCorrelation %}
    const std::string OS = "os";
    const std::string SS = "ls";
    if ("{{ cut.getData() }}" == OS)
    {
      if (not ({{prefix}}Chg.at({{idx0}}) != {{prefix}}Chg.at({{idx1}}))) continue;
    }
    else if ("{{ cut.getData() }}" == SS)
    {
      if (not ({{prefix}}Chg.at({{idx0}}) == {{prefix}}Chg.at({{idx1}}))) continue;
    }
  {% endif %}
  {% endfor %}
{% endmacro %}


{#
 # get cuts for correlations of objects with the different type
 #}
{% macro getDifferentTypeCorrelationCuts(prefix0, prefix1, idx0, idx1, cond, tmEventSetup, LUTS, iPi) %}
  {# local variables #}
  long long minimum;
  long long maximum;
  {% set convert = true if (prefix1 == prefixMuon) else false %}
  {% for cut in cond.getCuts() %}
  {% if cut.getCutType() == tmEventSetup.DeltaEta %}
    // {{cut.getMinimum().value}} <= DeltaEta <= {{cut.getMaximum().value}}
    {{ setDeltaEta(prefix0, prefix1, idx0, idx1, LUTS) }}
    minimum = (long long)({{cut.getMinimum().value}} * POW10[{{cut.getMinimum().index}}]);
    maximum = (long long)({{cut.getMaximum().value}} * POW10[{{cut.getMaximum().index}}]);
    if (not ((minimum <= deltaEta) and (deltaEta <= maximum))) continue;

  {% elif cut.getCutType() == tmEventSetup.DeltaPhi %}
    // {{cut.getMinimum().value}} <= DeltaPhi <= {{cut.getMaximum().value}}
    {{ setDeltaPhi(prefix0, prefix1, idx0, idx1, LUTS, iPi) }}
    minimum = (long long)({{cut.getMinimum().value}} * POW10[{{cut.getMinimum().index}}]);
    maximum = (long long)({{cut.getMaximum().value}} * POW10[{{cut.getMaximum().index}}]);
    if (not ((minimum <= deltaPhi) and (deltaPhi <= maximum))) continue;

  {% elif cut.getCutType() == tmEventSetup.DeltaR %}
    // {{cut.getMinimum().value}} <= DeltaR <= {{cut.getMaximum().value}}
    {{ setDeltaEta(prefix0, prefix1, idx0, idx1, LUTS) }}
    {{ setDeltaPhi(prefix0, prefix1, idx0, idx1, LUTS, iPi) }}
    long long deltaR2 = deltaEta*deltaEta + deltaPhi*deltaPhi;
    minimum = (long long)({{cut.getMinimum().value}} * POW10[{{2*cut.getMinimum().index}}]);
    maximum = (long long)({{cut.getMaximum().value}} * POW10[{{2*cut.getMaximum().index}}]);
    if (not ((minimum <= deltaR2) and (deltaR2 <= maximum))) continue;

  {% elif cut.getCutType() == tmEventSetup.Mass %}
    // {{cut.getMinimum().value}} <= mass <= {{cut.getMaximum().value}}
    {{ setDeltaEta(prefix0, prefix1, idx0, idx1, LUTS, False) }}
    {{ setDeltaPhi(prefix0, prefix1, idx0, idx1, LUTS, iPi, False) }}
    long long coshDeltaEta = {{LUTS.COSH_DETA}}[deltaIEta];
    long long cosDeltaPhi = {{LUTS.COS_DPHI}}[deltaIPhi];
    long long pt0 = {{LUTS.ET0}}[{{prefix0}}IEt.at({{idx0}})];
    long long pt1 = {{LUTS.ET1}}[{{prefix1}}IEt.at({{idx1}})];
    long long mass2 = pt0*pt1*(coshDeltaEta - cosDeltaPhi);
    // {{ cut.getMinimumValue() | toMass }} <= mass <= {{ cut.getMaximumValue() | toMass}}
    minimum = (long long)({{cut.getMinimum().value}} * POW10[{{LUTS.PREC_MASS}}]);
    maximum = (long long)({{cut.getMaximum().value}} * POW10[{{LUTS.PREC_MASS}}]);
    if (not ((minimum <= mass2) and (mass2 <= maximum))) continue;

  {% endif %}
  {% endfor %}
{% endmacro %}


{#
 # get cuts for correlations of object and esum
 #}
{% macro getEsumCorrelationCuts(object, esum, idx0, idx1, cond, tmEventSetup, LUTS, iPi) %}
  {# local variables #}
  {% for cut in cond.getCuts() %}
  {% if cut.getCutType() == tmEventSetup.DeltaPhi %}
    {{ setDeltaPhi(esum, object, idx1, idx0, LUTS, iPi) }}
    long long minimum = (long long)({{cut.getMinimum().value}} * POW10[{{cut.getMinimum().index}}]);
    long long maximum = (long long)({{cut.getMaximum().value}} * POW10[{{cut.getMaximum().index}}]);
    if (not ((minimum <= deltaPhi) and (deltaPhi <= maximum))) continue;
  {% endif %}
  {% endfor %}
{% endmacro %}

{# eof #}
