{#
 # @author: Takashi MATSUSHITA
 #}
// LUTs for MuonMuonCorrelation conditions
{# delta #}
{% set prec_mu_mu_delta = scaleMap['PRECISION-MU-MU-Delta'] %}
const int prec_mu_mu_delta = {{ prec_mu_mu_delta.getNbits() }};
{% set lut_deta_mu_mu = scaleMap['MU-ETA'] | getDeltaLut(scaleMap['MU-ETA'], prec_mu_mu_delta) %}
const int LUT_DETA_MU_MU[] = {
{% for x in lut_deta_mu_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set lut_dphi_mu_mu = scaleMap['MU-PHI'] | getDeltaLut(scaleMap['MU-PHI'], prec_mu_mu_delta) %}
const int LUT_DPHI_MU_MU[] = {
{% for x in lut_dphi_mu_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{# mass #}
{% set prec_mu_mu_math = scaleMap['PRECISION-MU-MU-Math'] %}
const int prec_mu_mu_math = {{ prec_mu_mu_math.getNbits() }};

{% set lut_cosh_deta_mu_mu = scaleMap['MU-ETA'] | getCoshLut(scaleMap['MU-ETA'], prec_mu_mu_math) %}
const int LUT_COSH_DETA_MU_MU[] = {
{% for x in lut_cosh_deta_mu_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{% set lut_cos_dphi_mu_mu = scaleMap['MU-PHI'] | getCosLut(scaleMap['MU-PHI'], prec_mu_mu_math) %}
const int LUT_COS_DPHI_MU_MU[] = {
{% for x in lut_cos_dphi_mu_mu -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};

{% set prec_mu_mu_mass = scaleMap['PRECISION-MU-MU-Mass'] %}
const int prec_mu_mu_mass = {{ prec_mu_mu_mass.getNbits() }};

{% set prec_mu_mu_massPt = scaleMap['PRECISION-MU-MU-MassPt'] %}
const int prec_mu_mu_massPt = {{ prec_mu_mu_massPt.getNbits() }};

{% set lut_mu_et = scaleMap['MU-ET'] | getLut(prec_mu_mu_massPt) %}
const int LUT_MU_ET[] = {
{% for x in lut_mu_et -%}
  {{x}}{% if not loop.last %},{% endif %}
{%- endfor -%}
};
{# eof #}
